[workspace]
resolver = "2"
members = ["demo"]

[workspace.package]
edition = "2021"
version = "0.0.1"
license = "MIT OR Apache-2.0"
# homepage = "https://vello.dev" - Domain owned by us, but unused at present
# rust-version = 
repository = "https://github.com/linebender/vello"

[package]
name = "velato"
description = "Lottie renderer built on vello."
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics", "animation", "lottie"]

version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[workspace.dependencies]
vello = { git = "https://github.com/linebender/vello.git", rev = "34d313d0decc6c3ddbb9185195356ce5accde305", default-features = false }


[dependencies]
vello = { workspace = true }
bodymovin = { git = "https://github.com/Traverse-Research/bodymovin-rs.git" }
